@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900);

// variables
$color-black: #333333;
$color-blue: #bae4e3;
$color-green: #9fdccd;
$color-grey: #d5d5d5;
$color-orange: #e7af41;
$color-peach: #f0dac3;
$color-pink: #fce7e0;
$color-purple: #d3cfe0;
$color-red: #f90d50;

// reset
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing   : border-box;
  -ms-box-sizing    : border-box;
  -o-box-sizing     : border-box;
  box-sizing        : border-box;
}
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
a, a:focus {
  color: $color-black;
  text-decoration: none;
}
a:hover {
  color: $color-red;
}

// helper classes
.normal {
  font-weight: normal;
}
.no-margin {
  margin: 0;
}
.uppercase {
  text-transform: uppercase;
}

// layout
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
}
.content {
  padding: 10px 0;
}
.header, .footer {
  padding: 40px 0;
}
.header {
  border-bottom: 1px solid $color-grey;
}
.footer {
  border-top: 1px solid $color-grey;
}
.header-section {
  display: inline-block;
  margin-right: -3px;
  vertical-align: top;
  width: calc(50% - 10px);
}
.header-section:nth-child(odd) {
  margin-right: 7px;
}
.header-section:nth-child(even) {
  margin-left: 10px;
}
.nav-list {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
    vertical-align: top;
  }
  li:first-child {
    margin-left: 0;
  }
}
.col-50 {
  display: inline-block;
  margin: 10px -3px 10px 0;
  vertical-align: top;
  width: calc(50% - 10px);
}
.col-50:nth-child(odd) {
  margin-right: 7px;
}
.col-50:nth-child(even) {
  margin-left: 10px;
}

// projects
.project {
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 10px -3px 10px 0;
  vertical-align: top;
  width: calc(50% - 10px);
  transition        : opacity 0.2s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition   : opacity 0.2s ease-out;
  -ms-transition    : opacity 0.2s ease-out;
  -o-transition     : opacity 0.2s ease-out;
  img {
    width: 100%;
  }
}
.project:nth-child(odd) {
  margin-right: 7px;
}
.project:nth-child(even) {
  margin-left: 10px;
}
.project:hover {
  opacity: 0.6;
}
.desktop {
  padding: 4% 2% 2% 2%;
}
.ipad {
  display: none;
  padding: 5% 8%;
}
.iphone {
  display: none;
  padding: 8% 12%;
}
.bg-pink { background-color: $color-pink; }
.bg-green { background-color: $color-green; }
.bg-blue { background-color: $color-blue; }
.bg-orange { background-color: $color-orange; }
.bg-peach { background-color: $color-peach; }
.bg-purple { background-color: $color-purple; }

// experience
// .experience {
//   margin: 0 3px;
//   padding: 10px 0;
//   td {
//     vertical-align: top;
//   }
//   td:nth-child(2) {
//     padding-left: 40px;
//   }
// }

// media queries
@media screen and (max-width: 1024px) {
  .desktop {
    display: none;
  }
  .ipad {
    display: block;
  }
  // .experience {
  //   margin: 0 auto;
  //   max-width: 450px;
  // }
  // .experience .col-50 {
  //   width: 100%;
  // }
  // .experience .col-50:nth-child(odd) {
  //   margin-right: 0;
  // }
  // .experience .col-50:nth-child(even) {
  //   margin-left: 0;
  // }
  // .experience .col-50:nth-child(2) {
  //   margin-top: 20px;
  // }
}
@media screen and (max-width: 740px) {
  .header-section {
    margin-right: 0;
    width: 100%;
  }
  .header-section:nth-child(odd) {
    margin-right: 0;
  }
  .header-section:nth-child(even) {
    margin-top: 5px;
    margin-left: 0;
  }
  .nav-list {
    li {
      display: block;
      margin: 0;
    }
  }
  .ipad {
    display: none;
  }
  .iphone {
    display: block;
  }
  // .experience {
  //   margin: 0 3px;
  //   max-width: none;
  // }
}
@media screen and (max-width: 540px) {
  // .header, .footer {
  //   margin: 0;
  //   padding: 30px 0;
  // }
  // .header-section, .project {
  //   width: 100%;
  // }
  // .header-section:nth-child(odd), .project:nth-child(odd) {
  //   margin-right: 0;
  // }
  // .header-section:nth-child(even), .project:nth-child(even) {
  //   margin-left: 0;
  // }
  // ul.nav-list {
  //   margin-top: 0.5em;
  //   li:first-child {
  //     margin-left: 0;
  //   }
  // }
  .project {
    margin: 10px 0;
    max-height: 500px;
    overflow: hidden;
    width: 100%;
  }
  .project:nth-child(odd) {
    margin-right: 0;
  }
  .project:nth-child(even) {
    margin-left: 0;
  }
  // .experience {
  //   margin: 0;
  // }
}
@media screen and (max-width: 440px) {
  .project {
    max-height: 400px;
  }
}
@media screen and (max-width: 340px) {
  .project {
    max-height: 300px;
  }
}