<!DOCTYPE html>
<html>
<head>
  <title>Cameron Jacoby</title>

  <!-- meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Cameron Jacoby | Software Engineer, HTML, CSS, JavaScript, Ruby on Rails">
  <meta property="og:description" content="Cameron Jacoby | Software Engineer, HTML, CSS, JavaScript, Ruby on Rails">
  <meta property="og:site_name" content="Cameron Jacoby | Software Engineer">
  <meta property="og:title" content="Cameron Jacoby | Software Engineer">
  <meta property="og:type" content="website">
  <!-- <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:height" content="">
  <meta property="og:image:width" content="">
  <meta property="og:image:type" content="image/jpeg"> -->

  <!-- pinterest site verification -->
  <meta name="p:domain_verify" content="25ee3f9975f3421e5d2b80dd763cf213">

  <!-- favicons -->
  <link rel="icon" href="favicons/favicon_32x32.png" sizes="16x16" type="image/png">
  <link rel="icon" href="favicons/favicon_32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="favicons/favicon_196x196.png" sizes="196x196" type="image/png">
  <link rel="apple-touch-icon" href="favicons/apple_touch_icon_iphone_60x60.png" sizes="60x60" type="image/png">
  <link rel="apple-touch-icon" href="favicons/apple_touch_icon_ipad_76x76.png" sizes="76x76" type="image/png">
  <link rel="apple-touch-icon" href="favicons/apple_touch_icon_iphone_retina_120x120.png" sizes="120x120" type="image/png">
  <link rel="apple-touch-icon" href="favicons/apple_touch_icon_ipad_retina_152x152.png" sizes="152x152" type="image/png">

  <!-- stylesheets -->
  <link rel="stylesheet" href="vendor/stylesheets/normalize.css" type="text/css" media="all">
  <link rel="stylesheet" href="vendor/stylesheets/font-awesome-4.3.0/css/font-awesome.min.css" type="text/css" media="all">
  <link rel="stylesheet" href="styles/main.css" type="text/css" media="all">
</head>

<body>
  <div class="wrapper">
    <div class="header">
      <div class="header-section">
        <p class="no-margin"><a href="/"><span class="normal">Cameron Jacoby</span></a>&nbsp;&nbsp;|&nbsp;&nbsp;Software Engineer</p>
      </div>
      <div class="header-section">
        <ul class="nav-list">
          <li><a href="/">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
