<!DOCTYPE html>
<html>
<head>
  <title>Cameron Jacoby</title>

  <!-- meta tags -->
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:image:height" content="">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="">
  <meta property="og:site_name" content="Cameron Jacoby">
  <meta property="og:title" content="Cameron Jacoby">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">

  <!-- favicons -->
  <!-- <link rel="icon" href="favicon_32x32.png" sizes="16x16" type="image/png">
  <link rel="icon" href="favicon_32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="favicon_196x196.png" sizes="196x196" type="image/png">
  <link rel="apple-touch-icon" href="apple-touch-icon-iphone-60x60.png" sizes="60x60" type="image/png">
  <link rel="apple-touch-icon" href="apple-touch-icon-ipad-76x76.png" sizes="76x76" type="image/png">
  <link rel="apple-touch-icon" href="apple-touch-icon-iphone-retina-120x120.png" sizes="120x120" type="image/png">
  <link rel="apple-touch-icon" href="apple-touch-icon-ipad-retina-152x152" sizes="152x152" type="image/png"> -->
  
  <!-- stylesheets -->
  <link rel="stylesheet" href="../public/styles/normalize.css" type="text/css" media="all">
  <link rel="stylesheet" href="../public/styles/font-awesome-4.3.0/css/font-awesome.min.css" type="text/css" media="all">
  <link rel="stylesheet" href="../public/styles/main.css" type="text/css" media="all">
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="header-section">
        <p class="no-margin">Cameron Jacoby</p>
        <p class="no-margin">Software Engineer</p>
        <p class="no-margin">
          <a href="https://github.com/cameronjacoby" alt="Cameron Jacoby GitHub" target="_blank"><i class="fa fa-github-square"></i></a>&nbsp;
          <a href="https://www.linkedin.com/in/cameronjacoby" alt="Cameron Jacoby LinkedIn" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </p>
      </div>
      <div class="header-section">
        <ul class="nav-list">
          <li><a href="javascript:void(0)">Projects</a></li>
          <li><a href="javascript:void(0)">Experience</a></li>
        </ul>
      </div>
    </div>

    <div class="content">
      <div class="project-show">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_account/rocksbox_account_screenshot_desktop.png" alt="">
      </div>
    </div>

    <div class="footer"></div>

  </div>

  <!-- scripts -->
  <script src="../public/scripts/main.js" type="text/javascript"></script>
</body>
</html>