
* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
}

.header {
  border: 1px solid black;
}

.content {
  padding: 40px 0;
  text-align: center;
}

.project {
  border: 1px solid #cccccc;
  display: inline-block;
  margin: 10px;
  width: calc(50% - 24px);
}
.project img {
  width: 100%;
}

.footer {
  border: 1px solid black;
}