<% include ../partials/header %>
  <div class="content">

    <div class="col-50"></div>
    <div class="col-50">
      <p class="sm-margin"><a href="https://github.com/cameronjacoby" target="_blank"><i class="fa fa-github-square"></i>&nbsp;&nbsp;github.com/cameronjacoby</a></p>
      <p class="sm-margin"><a href="https://www.linkedin.com/in/cameronjacoby" target="_blank"><i class="fa fa-linkedin-square"></i>&nbsp;&nbsp;linkedin.com/in/cameronjacoby</a></p>
      <p class="no-margin"><a href="mailto:cameron.jacoby@gmail.com"><i class="fa fa-envelope-square"></i>&nbsp;&nbsp;cameron.jacoby@gmail.com</a></p>
    </div>

  </div>
<% include ../partials/footer %>