<% include ../partials/header %>
  <div class="content">

    <div class="col-50"></div>
    <div class="col-50">
      <p class="no-margin">cameron.jacoby@gmail.com</p>
    </div>

  </div>
<% include ../partials/footer %>