<% include ../partials/header %>
  <div class="content">

    <div class="col-50"></div>
    <div class="col-50">
      <p class="sm-margin">Web Development Instructor &#64; General Assembly,&nbsp;&nbsp;<em>present</em></p>
      <p class="sm-margin">Software Engineer &#64; Rocksbox,&nbsp;&nbsp;<em>2014-2015</em></p>
      <p class="sm-margin">Teaching Assistant &#64; General Assembly,&nbsp;&nbsp;<em>2014-2015</em></p>
      <p class="sm-margin">Web Development Immersive, General Assembly,&nbsp;&nbsp;<em>2014</em></p>
      <p class="sm-margin">Merchandise Coordinator &#64; Stitch Fix,&nbsp;&nbsp;<em>2014</em></p>
      <p class="sm-margin">Social Media Manager &#64; CakeStyle,&nbsp;&nbsp;<em>2012-2013</em></p>
      <p>BA Economics, Washington University in St. Louis,&nbsp;&nbsp;<em>2011</em></p>
      <p class="no-margin"><a href="documents/resume.pdf" target="_blank"><i class="fa fa-file"></i>&nbsp;&nbsp;Resume</a></p>
    </div>

  </div>
<% include ../partials/footer %>