<% include ../partials/header %>

  <div class="content">
    <div class="experience left">
      <div class="col-50">
        <table>
          <tbody>
            <tr>
              <td class="normal">Present</td>
              <td>Web Development Instructor at General Assembly</td>
            </tr>
            <tr>
              <td class="normal">2014-2015</td>
              <td>Software Engineer at Rocksbox</td>
            </tr>
            <tr>
              <td class="normal">2014-2015</td>
              <td>Teaching Assistant at General Assembly</td>
            </tr>
            <tr>
              <td class="normal">2014</td>
              <td>Web Development Immersive, General Assembly</td>
            </tr>
            <tr>
              <td class="normal">2014</td>
              <td>Merchandise Coordinator at Stitch Fix</td>
            </tr>
            <tr>
              <td class="normal">2012-2013</td>
              <td>Social Media Manager at CakeStyle</td>
            </tr>
            <tr>
              <td class="normal">2011</td>
              <td>BA, Economics, Washington University in St. Louis</td>
            </tr>
            <tr><td></td><td></td></tr>
            <tr>
              <td></td>
              <td><a class="link-emphasized" href="javascript:void(0)" target="_blank">resume</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-50">
        <table>
          <tbody>
            <tr>
              <td><span class="normal">Languages:</span>&nbsp;&nbsp;HTML, CSS, JavaScript, Ruby</td>
            </tr>
            <tr>
              <td><span class="normal">Frameworks:</span>&nbsp;&nbsp;Node.js, ExpressJS, AngularJS, Rails</td>
            </tr>
            <tr>
              <td><span class="normal">Database Tools:</span>&nbsp;&nbsp;PostgreSQL, Sequelize, ActiveRecord</td>
            </tr>
            <tr>
              <td><span class="normal">Other:</span>&nbsp;&nbsp;jQuery, AJAX, Git/GitHub, RSpec</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<% include ../partials/footer %>