<% include ../partials/header %>
  <div class="content">

    <!-- skills -->
    <div class="col-50">
      <p class="no-margin"><span class="normal">Languages:</span>&nbsp;&nbsp;HTML, CSS, JavaScript, Ruby</p>
      <p class="no-margin"><span class="normal">Frameworks:</span>&nbsp;&nbsp;Node.js, ExpressJS, Rails, AngularJS</p>
      <p class="no-margin"><span class="normal">Databases:</span>&nbsp;&nbsp;PostgreSQL, Sequelize, ActiveRecord, MongoDB</p>
      <p class="no-margin"><span class="normal">Testing:</span>&nbsp;&nbsp;Mocha, Chai, RSpec</p>
      <p class="no-margin"><span class="normal">Other:</span>&nbsp;&nbsp;jQuery, AJAX, Git/GitHub</p>
      <p><a href="documents/resume.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Resume</a></p>
    </div>

    <!-- experience -->
    <div class="col-50">
      <p class="no-margin">Web Development Instructor at General Assembly, Present</p>
      <p class="no-margin">Software Engineer at Rocksbox, 2014-2015</p>
      <p class="no-margin">Teaching Assistant at General Assembly, 2014-2015</p>
      <p class="no-margin">Web Development Immersive, General Assembly, 2014</p>
      <p class="no-margin">Merchandise Coordinator at Stitch Fix, 2014</p>
      <p class="no-margin">Social Media Manager at CakeStyle, 2012-2013</p>
      <p class="no-margin">BA, Economics, Washington University in St. Louis, 2011</p>
    </div>

  </div>
<% include ../partials/footer %>