<% include ../partials/header %>
  <div class="content">
    
    <!-- rocksbox homepage -->
    <div class="project">
      <div class="desktop bg-pink">
        <img src="images/rocksbox_homepage/rocksbox_homepage_macbook_pro.png" alt="Rocksbox Homepage">
      </div>
      <div class="ipad bg-pink">
        <img src="images/rocksbox_homepage/rocksbox_homepage_ipad_air.png" alt="Rocksbox Homepage">
      </div>
      <div class="iphone bg-pink">
        <img src="images/rocksbox_homepage/rocksbox_homepage_iphone_6.png" alt="Rocksbox Homepage">
      </div>
    </div>
    
    <!-- rocksbox account -->
    <div class="project">
      <div class="desktop bg-green">
        <img src="images/rocksbox_account/rocksbox_account_macbook_pro.png" alt="Rocksbox Account">
      </div>
      <div class="ipad bg-green">
        <img src="images/rocksbox_account/rocksbox_account_ipad_air.png" alt="Rocksbox Account">
      </div>
      <div class="iphone bg-green">
        <img src="images/rocksbox_account/rocksbox_account_iphone_6.png" alt="Rocksbox Account">
      </div>
    </div>

    <!-- rocksbox shop -->
    <div class="project">
      <div class="desktop bg-blue">
        <img src="images/rocksbox_shop/rocksbox_shop_macbook_pro.png" alt="Rocksbox Shop">
      </div>
      <div class="ipad bg-blue">
        <img src="images/rocksbox_shop/rocksbox_shop_ipad_air.png" alt="Rocksbox Shop">
      </div>
      <div class="iphone bg-blue">
        <img src="images/rocksbox_shop/rocksbox_shop_iphone_6.png" alt="Rocksbox Shop">
      </div>
    </div>

    <!-- rocksbox gifts -->
    <div class="project">
      <div class="desktop bg-orange">
        <img src="images/rocksbox_gifts/rocksbox_gifts_macbook_pro.png" alt="Rocksbox Gifts">
      </div>
      <div class="ipad bg-orange">
        <img src="images/rocksbox_gifts/rocksbox_gifts_ipad_air.png" alt="Rocksbox Gifts">
      </div>
      <div class="iphone bg-orange">
        <img src="images/rocksbox_gifts/rocksbox_gifts_iphone_6.png" alt="Rocksbox Gifts">
      </div>
    </div>

    <!-- rocksbox billing -->
    <div class="project">
      <div class="desktop bg-peach">
        <img src="images/rocksbox_billing/rocksbox_billing_macbook_pro.png" alt="Rocksbox Billing">
      </div>
      <div class="ipad bg-peach">
        <img src="images/rocksbox_billing/rocksbox_billing_ipad_air.png" alt="Rocksbox Billing">
      </div>
      <div class="iphone bg-peach">
        <img src="images/rocksbox_billing/rocksbox_billing_iphone_6.png" alt="Rocksbox Billing">
      </div>
    </div>

    <!-- rocksbox wish list -->
    <div class="project">
      <div class="desktop bg-purple">
        <img src="images/rocksbox_wish_list/rocksbox_wish_list_macbook_pro.png" alt="Rocksbox Wish List">
      </div>
      <div class="ipad bg-purple">
        <img src="images/rocksbox_wish_list/rocksbox_wish_list_ipad_air.png" alt="Rocksbox Wish List">
      </div>
      <div class="iphone bg-purple">
        <img src="images/rocksbox_wish_list/rocksbox_wish_list_iphone_6.png" alt="Rocksbox Wish List">
      </div>
    </div>

    <!-- dart -->
    <div class="project">
      <div class="desktop bg-green">
        <img src="images/dart/dart_macbook_pro.png" alt="Dart">
      </div>
      <div class="ipad bg-green">
        <img src="images/dart/dart_ipad_air.png" alt="Dart">
      </div>
      <div class="iphone bg-green">
        <img src="images/dart/dart_iphone_6.png" alt="Dart">
      </div>
    </div>

    <!-- globetweet -->
    <div class="project">
      <div class="desktop bg-pink">
        <img src="images/globetweet/globetweet_macbook_pro.png" alt="GlobeTweet">
      </div>
      <div class="ipad bg-pink">
        <img src="images/globetweet/globetweet_ipad_air.png" alt="GlobeTweet">
      </div>
      <div class="iphone bg-pink">
        <img src="images/globetweet/globetweet_iphone_6.png" alt="GlobeTweet">
      </div>
    </div>

  </div>
<% include ../partials/footer %>
