<% include ../partials/header %>

  <div class="page-content">
    <a href="#" class="project">
      <div class="desktop bg-pink">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_homepage/rocksbox_homepage_macbook_pro.png" alt="Rocksbox Homepage">
      </div>
      <div class="ipad bg-pink">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_homepage/rocksbox_homepage_ipad_air.png" alt="Rocksbox Homepage">
      </div>
      <div class="iphone bg-pink">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_homepage/rocksbox_homepage_iphone_6.png" alt="Rocksbox Homepage">
      </div>
    </a>
    <a href="#" class="project">
      <div class="desktop bg-green">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_account/rocksbox_account_macbook_pro.png" alt="Rocksbox Account">
      </div>
      <div class="ipad bg-green">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_account/rocksbox_account_ipad_air.png" alt="Rocksbox Account">
      </div>
      <div class="iphone bg-green">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_account/rocksbox_account_iphone_6.png" alt="Rocksbox Account">
      </div>
    </a>
    <a href="#" class="project">
      <div class="desktop bg-blue">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_shop/rocksbox_shop_macbook_pro.png" alt="Rocksbox Shop">
      </div>
      <div class="ipad bg-blue">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_shop/rocksbox_shop_ipad_air.png" alt="Rocksbox Shop">
      </div>
      <div class="iphone bg-blue">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_shop/rocksbox_shop_iphone_6.png" alt="Rocksbox Shop">
      </div>
    </a>
    <a href="#" class="project">
      <div class="desktop">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_gifts/rocksbox_gifts_preview_1200px.jpg" alt="Rocksbox Gifts">
      </div>
      <div class="ipad">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_gifts/rocksbox_gifts_preview_800px.jpg" alt="Rocksbox Gifts">
      </div>
      <div class="iphone">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_gifts/rocksbox_gifts_preview_600px.jpg" alt="Rocksbox Gifts">
      </div>
    </a>
    <a href="#" class="project">
      <div class="desktop">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_billing/rocksbox_billing_preview_1200px.jpg" alt="Rocksbox Billing">
      </div>
      <div class="ipad">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_billing/rocksbox_billing_preview_800px.jpg" alt="Rocksbox Billing">
      </div>
      <div class="iphone">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_billing/rocksbox_billing_preview_600px.jpg" alt="Rocksbox Billing">
      </div>
    </a>
    <a href="#" class="project">
      <div class="desktop">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_wish_list/rocksbox_wish_list_preview_1200px.jpg" alt="Rocksbox Wish List">
      </div>
      <div class="ipad">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_wish_list/rocksbox_wish_list_preview_800px.jpg" alt="Rocksbox Wish List">
      </div>
      <div class="iphone">
        <img src="https://dl.dropboxusercontent.com/u/94240957/portfolio/rocksbox_wish_list/rocksbox_wish_list_preview_600px.jpg" alt="Rocksbox Wish List">
      </div>
    </a>
  </div>

<% include ../partials/footer %>