@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

a, a:focus {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: #f90d50;
}

.normal {
  font-weight: normal;
}

.no-margin {
  margin: 0;
}

.site-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  width: 100%;
}

.page-content {
  padding: 10px 0;
  text-align: center;
}

.header, .footer {
  margin: 0 12px;
  padding: 40px 1px;
}

.header {
  border-bottom: 1px solid #d5d5d5;
}

.footer {
  border-top: 1px solid #d5d5d5;
}

.header-section {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 15px);
}

.header-section:nth-child(2) {
  margin-left: 25px;
}

ul.nav-list {
  margin: 0;
  padding: 0;
}

ul.nav-list li {
  display: inline-block;
  list-style-type: none;
  margin: 0 10px;
  vertical-align: top;
}

ul.nav-list li:first-child {
  margin-left: 0;
}

.project {
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 10px;
  vertical-align: top;
  width: calc(50% - 25px);
  transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
}

.project img {
  width: 100%;
}

.project:hover {
  opacity: 0.6;
}

.desktop {
  padding: 4% 2% 2% 2%;
}

.ipad {
  display: none;
  padding: 5% 8%;
}

.iphone {
  display: none;
  padding: 8% 12%;
}

.bg-pink {
  background-color: #fce7e0;
}

.bg-green {
  background-color: #9fdccd;
}

.bg-blue {
  background-color: #bae4e3;
}

.bg-orange {
  background-color: #e7af41;
}

.bg-peach {
  background-color: #f0dac3;
}

.bg-purple {
  background-color: #d3cfe0;
}

@media screen and (max-width: 1024px) {
  .desktop {
    display: none;
  }
  .ipad {
    display: block;
  }
}

@media screen and (max-width: 740px) {
  .header-section {
    display: block;
    vertical-align: top;
    width: 100%;
  }
  .header-section:nth-child(2) {
    margin-top: 5px;
    margin-left: 0;
  }
  ul.nav-list li {
    display: block;
    margin: 0;
  }
  .ipad {
    display: none;
  }
  .iphone {
    display: block;
  }
}

@media screen and (max-width: 540px) {
  .project {
    margin: 10px 0;
    max-height: 500px;
    overflow: hidden;
    width: calc(100% - 25px);
  }
}

@media screen and (max-width: 440px) {
  .project {
    max-height: 400px;
  }
}

@media screen and (max-width: 340px) {
  .project {
    max-height: 300px;
  }
}
