@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900);
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

body {
  color: #333333;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

p {
  margin: 0 0 15px 0;
}

a, a:focus {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: #f90d50;
}

.normal {
  font-weight: normal;
}

.no-margin {
  margin: 0;
}

.sm-margin {
  margin: 0 0 5px 0;
}

.uppercase {
  text-transform: uppercase;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
}

.content {
  padding: 10px 0;
}

.header, .footer {
  padding: 40px 0;
}

.header {
  border-bottom: 1px solid #d5d5d5;
}

.footer {
  border-top: 1px solid #d5d5d5;
}

.header-section {
  display: inline-block;
  margin-right: -3px;
  vertical-align: top;
  width: calc(50% - 10px);
}

.header-section:nth-child(odd) {
  margin-right: 7px;
}

.header-section:nth-child(even) {
  margin-left: 10px;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: inline-block;
  list-style-type: none;
  margin: 0 10px;
  vertical-align: top;
}

.nav-list li:first-child {
  margin-left: 0;
}

.col-50 {
  display: inline-block;
  margin: 10px -3px 10px 0;
  vertical-align: top;
  width: calc(50% - 10px);
}

.col-50:nth-child(odd) {
  margin-right: 7px;
}

.col-50:nth-child(even) {
  margin-left: 10px;
}

.project {
  display: inline-block;
  line-height: 1;
  margin: 10px -3px 10px 0;
  vertical-align: top;
  width: calc(50% - 10px);
}

.project img {
  width: 100%;
}

.project:nth-child(odd) {
  margin-right: 7px;
}

.project:nth-child(even) {
  margin-left: 10px;
}

.desktop {
  padding: 4% 2% 2% 2%;
}

.ipad {
  display: none;
  padding: 5% 8%;
}

.iphone {
  display: none;
  padding: 8% 12%;
}

.bg-pink {
  background-color: #fce7e0;
}

.bg-green {
  background-color: #9fdccd;
}

.bg-blue {
  background-color: #bae4e3;
}

.bg-orange {
  background-color: #e7af41;
}

.bg-peach {
  background-color: #f0dac3;
}

.bg-purple {
  background-color: #d3cfe0;
}

@media screen and (max-width: 1024px) {
  .desktop {
    display: none;
  }
  .ipad {
    display: block;
  }
}

@media screen and (max-width: 740px) {
  .header-section {
    margin-right: 0;
    width: 100%;
  }
  .header-section:nth-child(odd) {
    margin-right: 0;
  }
  .header-section:nth-child(even) {
    margin-top: 5px;
    margin-left: 0;
  }
  .nav-list li {
    display: block;
    margin: 0;
  }
  .col-50 {
    margin: 10px 0;
    width: 100%;
  }
  .col-50:nth-child(odd) {
    display: block;
    margin: 0;
  }
  .col-50:nth-child(even) {
    margin-left: 0;
  }
  .ipad {
    display: none;
  }
  .iphone {
    display: block;
  }
}

@media screen and (max-width: 540px) {
  .project {
    margin: 10px 0;
    max-height: 500px;
    overflow: hidden;
    width: 100%;
  }
  .project:nth-child(odd) {
    margin-right: 0;
  }
  .project:nth-child(even) {
    margin-left: 0;
  }
}

@media screen and (max-width: 440px) {
  .project {
    max-height: 400px;
  }
}

@media screen and (max-width: 340px) {
  .project {
    max-height: 300px;
  }
}
